/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Bree+Serif&family=Patua+One&family=Permanent+Marker&display=swap');


.titulo {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.subtitulo {
    font-family: 'Patua One', cursive;
    font-size: 19px;
    font-weight: bold;
}

.texto{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16.5px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.margenes {
    margin: 20px;
}

.entrada {
    font-family: 'Patua One', cursive;
    background: #f8eeee;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
    padding: 10px;

}

ion-searchbar {
    .searchbar-input-container {
        input {
            padding-top: 14px !important;
            padding-bottom: 12px !important;
            font-size: 18px !important;
        }

        .searchbar-search-icon{
            top: 5px !important;
            width: 25px;
            height: 25px;
        }
    }
}

ion-toolbar{
    --background: #faf2f2;

    ion-button{
        text-transform: initial;
        font-size: 17px;
    }
}
