<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Añadir Producto
    </ion-title>

    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="header" >
    <h1 class="entrada" >Agregar Producto</h1>
  </div>

  <ion-card>
    <div>
      <ion-item lines="#ec5160">
        <ion-label class="texto-card" position="floating">Nombre: </ion-label>
          <ion-input [(ngModel)]="productos.nombre" class="texto-input" type="text" inputmode="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="texto-card" position="floating">Precio: </ion-label>
          <ion-input [(ngModel)]="productos.precio" class="texto-input" type="number" inputmode="numeric"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="texto-card" position="floating">Stock: </ion-label>
          <ion-input [(ngModel)]="productos.stock" class="texto-input" type="number" inputmode="numeric"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="texto-card" position="floating">Categoria: </ion-label>
          <ion-input [(ngModel)]="productos.categoria" class="texto-input" type="text" inputmode="text"></ion-input>
      </ion-item>
      <ion-item lines="none" class="border">
        <ion-label class="texto-card">Foto </ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <label for="file-upload">
              <ion-icon name="images" slot="icon-only"></ion-icon>
            </label>
            <input (change)="imagenUpload($event)" id="file-upload" style="display: none" type="file" accept="image/*">
          </ion-button>
        </ion-buttons>
        <ion-item lines="none">
          <img class="imagen" [src] = "productos.foto">
        </ion-item>
      </ion-item>

      <ion-button expand="block" shape="round" class="buttom" (click)="guardarProduct()">Guardar</ion-button>
    </div>
  </ion-card>

<!-- Pagina Principal -->
  <ion-card>
    <ion-item *ngFor="let producto of viveres" lines="none">
      <ion-label class="titulo-card">
      {{producto.nombre}}
      </ion-label>
      <ion-buttons>
        <ion-button (click)="productos = producto">
        <ion-icon name="create-outline" color="dark" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteProduct(producto)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>

</ion-content>
